<div class="content">
  <div class="orders"></div>
  <form class="content-form">
    <div class="form-labels-container">
        <div class="header-title">Encomendas</div>
          <div class="form-labels-left">
              <div class="form-label-text" for="ativas">Ativas</div>
              <div class="border-item">
                  <div class="form-labels-left">
                      <img alt="Air Jordan Dior" class="img" data-testid="Product Image" src="../../../assets/images/air-jordan-dior.jpg" tabindex="0">
                  </div>
                  <div class="form-labels-right">
                      <div class="form-labels-right-t" for="estado"><strong>Enviado</strong></div>
                      <div class="form-labels-right-t" for="marca"><strong>Marca: </strong>Air Jordan</div>
                      <div class="form-labels-right-t" for="artigo"><strong>Artigo: </strong>Air Jordan Dior High</div>
                      <div class="form-labels-right-t" for="tamanho"><strong>Tamanho: </strong>45</div>
                      <div class="form-labels-right-t" for="preco"><strong>Preço: </strong>22,775€</div>
                  </div>
              </div>
              <div class="border-item">
                  <div class="form-labels-left">
                      <img alt="Balenciaga Triple S" class="img" data-testid="Product Image" src="../../../assets/images/tripleS.png" tabindex="0">
                  </div>
                  <div class="form-labels-right">
                      <div class="form-labels-right-t" for="estado"><strong>Armazem</strong></div>
                      <div class="form-labels-right-t" for="marca"><strong>Marca: </strong>Balenciaga</div>
                      <div class="form-labels-right-t" for="artigo"><strong>Artigo: </strong>Balenciaga Triple S</div>
                      <div class="form-labels-right-t" for="tamanho"><strong>Tamanho: </strong>40</div>
                      <div class="form-labels-right-t" for="preco"><strong>Preço: </strong>795€</div>
                  </div>
              </div>
              <div class="border-item">
                  <div class="form-labels-left">
                      <img alt="Off White Office" class="img" data-testid="Product Image" src="../../../assets/images/offWhite.png" tabindex="0">
                  </div>
                  <div class="form-labels-right">
                      <div class="form-labels-right-t" for="estado"><strong>Enviado</strong></div>
                      <div class="form-labels-right-t" for="marca"><strong>Marca: </strong>Off-White</div>
                      <div class="form-labels-right-t" for="artigo"><strong>Artigo: </strong>Off-White Office</div>
                      <div class="form-labels-right-t" for="tamanho"><strong>Tamanho: </strong>42</div>
                      <div class="form-labels-right-t" for="preco"><strong>Preço: </strong>395€</div>
                  </div>
              </div>
          </div>
          <div class="form-labels-right">
              <div class="form-label-text" for="ativas">Terminadas</div>
              <div class="border-item">
                  <div class="form-labels-left">
                      <img alt="Versace Trigreca" class="img" data-testid="Product Image" src="../../../assets/images/versaceTrigreca.png" tabindex="0">
                  </div>
                  <div class="form-labels-right">
                      <div class="form-labels-right-t" for="estado"><strong>Enviado</strong></div>
                      <div class="form-labels-right-t" for="marca"><strong>Marca: </strong>Versace</div>
                      <div class="form-labels-right-t" for="artigo"><strong>Artigo: </strong>versace Trigreca</div>
                      <div class="form-labels-right-t" for="tamanho"><strong>Tamanho: </strong>42</div>
                      <div class="form-labels-right-t" for="preco"><strong>Preço: </strong>780€</div>
                  </div>
              </div>
              <div class="border-item">
                  <div class="form-labels-left">
                      <img alt="Balmain B-Bold" class="img" data-testid="Product Image" src="../../../assets/images/balmain.png" tabindex="0">
                  </div>
                  <div class="form-labels-right">
                      <div class="form-labels-right-t" for="estado"><strong>Armazem</strong></div>
                      <div class="form-labels-right-t" for="marca"><strong>Marca: </strong>Balmain</div>
                      <div class="form-labels-right-t" for="artigo"><strong>Artigo: </strong>Balmain B-Bold</div>
                      <div class="form-labels-right-t" for="tamanho"><strong>Tamanho: </strong>35</div>
                      <div class="form-labels-right-t" for="preco"><strong>Preço: </strong>640€</div>
                  </div>
              </div>
              <div class="border-item">
                  <div class="form-labels-left">
                      <img alt="Maison Margiela Tabi-Toe" class="img" data-testid="Product Image" src="../../../assets/images/maisonMargiela.png" tabindex="0">
                  </div>
                  <div class="form-labels-right">
                      <div class="form-labels-right-t" for="estado"><strong>Enviado</strong></div>
                      <div class="form-labels-right-t" for="marca"><strong>Marca: </strong>Maison Margiela</div>
                      <div class="form-labels-right-t" for="artigo"><strong>Artigo: </strong>Maison Margiela Signature Tabi-Toe</div>
                      <div class="form-labels-right-t" for="tamanho"><strong>Tamanho: </strong>47</div>
                      <div class="form-labels-right-t" for="preco"><strong>Preço: </strong>450€</div>
                  </div>
              </div>
            </div>
          </div>
  </form>
</div>
